<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memedex">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Memedex">
        <activity
            android:name=".pantallas.registro.MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallas.registro.Login"
            android:exported="true"/>
        <activity
            android:name=".pantallas.registro.SignIn"
            android:exported="true"/>
        <activity
            android:name=".pantallas.menu.Menu"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.ajustes.Ajustes"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.perfil.Profile"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.capturar.Capturar"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.capturar.memeAtrapado"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.perfil.Friends"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.perfil.Exchange"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.memedex.Memedex"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden"
            android:exported="true" />
        <activity
            android:name=".pantallas.menu.coleccion.Coleccion"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden"
            android:exported="true" />
    </application>

</manifest>